.button {
    border: 1px solid rgba(189, 189, 189, 0.2);
    border-radius: 4px;
    background: none;
    padding: 16px;
    cursor: pointer;
    font-size: 1.2rem;
    display: block;
    font-family: var(--font-primary);
    color: var(--white);
    width: fit-content;
    height: fit-content;
}

.warning {
    background: var(--warning);
}

.danger {
    background: var(--danger);
}

.success {
    background: var(--success);
}

.action {
    background: var(--action);
}