.info {
    margin-bottom: 30px;
    text-align: justify;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 16px;
}

@media (max-width: 991px) {
    .grid {
        grid-template-columns: repeat(1, 100%);
    }
}