.root {
    background: rgba(231, 231, 231, 0.3);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.root p {
    margin-bottom: 0;
    font-size: 0.6rem;
}

.root a {
    color: var(--action);
    font-weight: 600;
    display: inline-block;
    margin-right: 6px;
}

.root a:hover, .root a:focus, .root a:active {
    text-decoration: underline;
}