.nav {
    display: flex;
    padding: 16px 0;
    background: linear-gradient(259deg, rgba(0, 135, 255, 1) 0%, rgba(156, 252, 179, 1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
}

.collapsed {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.title {
    font-size: 1.4rem;
    color: var(--white);
}

.titleLink {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    color: var(--white);
    font-size: 4rem;
}

.list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLink {
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white);
    text-transform: uppercase;
}

.navLinkButton {
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-primary);
}

.active {
    background-color: rgba(156, 252, 179, 0.3);
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .collapsed {
        display: flex !important;
        flex-direction: column;
        gap: 15px;
        margin-top: 16px;
    }
     .list {
        display: none;
     } 
}

.toggleButton {
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-primary);
    position: absolute;
    right: 0;
    top: 15px;
}

@media (min-width: 768px) {
    .toggleButton {
        display: none;
    }           
}