.container {
    overflow-x: auto;
}

.searchInput {
    border: 1px solid rgba(189, 189, 189, 0.2);
    border-radius: 4px;
    padding: 8px;
    display: block;
    margin: 16px 0;
    font-size: 1.2rem;
    font-family: var(--font-primary);
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
}

.table {
    margin-top: 30px;
    width: 100%;
}

.th {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.td {
    padding: 16px 8px;
    vertical-align: top;
}

tr:nth-child(odd) {
    background: var(--grey);
}

thead tr {
    background: transparent !important;
}

th:nth-of-type(5) {
    text-align: center;
}

.priority {
    display: flex;
    justify-content: center;
}

.priorityValue {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    border: 1px solid var(--grey-dark);
}

.warning {
    background: var(--warning-light);
    color: var(--warning);
}

.danger {
    background: var(--danger-light);
    color: var(--danger);
}

.success {
    background: var(--success-light);
    color: var(--success);
}

.sortArrow {
    font-size: 1rem;
    margin-left: 5px;
}

.actionsList > li::before {
    content: "•";
    margin-right: 5px;
}


