.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    background: white;
    border-radius: 4px;
    padding: 16px;
}

.title {
    font-size: 2.4rem;
}