.hero {
    width: 100%;
    background-image: url("./organise.jpg");
    background-color: rgba(255,255,255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
}

.titleContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    color: var(--text-dark);
    margin-bottom: 50px;
    font-family: var(--font-secondary);
}

.subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--text-dark);
    max-width: 700px;
    margin-bottom: 30px;
}