.hero {
    width: 100%;
    background: url('./contract.svg');
    background-size: cover;
    height: 100vh;
}

.titleContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 50px;
    font-family: var(--font-secondary);
    line-height: 3rem;
}

@media (max-width: 575px) {
    .title {
        margin-top: 140px;
    }
}

.subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--black);
    max-width: 700px;
    margin-bottom: 30px;
}