.table {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
}

@media (max-width: 991px) {
    .table {
        overflow-x: scroll;
    }
}

.th {
    font-size: 1.6rem;
    padding: 8px;
    text-align: left;
}

.td {
    padding: 16px 8px;
}

tr:nth-child(odd) {
    background: var(--white);
}

thead tr {
    background: transparent !important;
}

.sortArrow {
    font-size: 1rem;
    margin-left: 5px;
}

.date, .name, .jobTitle {
    font-weight: 600;
}

.icon {
    font-size: 1.6rem;
    color: var(--success);
}

.completed {
    display: flex;
    justify-content: center;
}

.dateTime {
    color: var(--success);
}

.dateTimePast {
    color: var(--danger);
}