.container {
    overflow-x: auto;
}

.table {
    margin-top: 30px;
    width: 100%;
}

.th {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.td {
    padding: 16px 8px;
    vertical-align: top;
}

tr:nth-child(odd) {
    background: var(--grey);
}

thead tr {
    background: transparent !important;
}

.sortArrow {
    font-size: 1rem;
    margin-left: 5px;
}

.date, .name, .jobTitle {
    font-weight: 600;
}

.icon {
    font-size: 1.6rem;
    color: var(--success);
}

.completed {
    display: flex;
    justify-content: center;
}

.dateTime {
    color: var(--success);
}

.dateTimePast {
    color: var(--danger);
}