.container {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    pointer-events: none;
}

.containerOpen {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.3);
}

.panel {
    position: relative;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1199px) {
    .panel {
        width: 75%;
    }
}

@media (max-width: 991px) {
    .panel {
        width: 100%;
    }
}

.panelOpen {
    transform: translateX(0);
}

.title {
    font-size: 3rem;
}

.close {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--danger);
    position: absolute;
    top: 20px;
    right: 20px;
}